<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviews</title>
</head>

<body data-barba="wrapper">
    <header class="header">
        <div class="icon">P.</div>
        <nav class="menu">
            <a class="menu-link" id="home" href="index.html">Home</a>
            <a class="menu-link" id="psychology" href="psychology.html">Psicología</a>
            <a class="menu-link" id="history" href="history.html">Historia</a>
            <a class="menu-link" id="schools" href="schools.html">Escuelas</a>
            <a class="menu-link" id="interviews" href="interviews.html">Entrevistas</a>
        </nav>
    </header>
    <main data-barba="container" data-barba-namespace="interviews" class="main">
        <div class="transition"></div>
        <h1 class="title">Entrevistas</h1>

        <div class="interviews-container">
            <div class="interview-container">
                <h2 class="interview-title">Enfoque clínico</h2>
                <iframe src="https://www.youtube.com/embed/DuhGwA5avxM" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="interview-container">
                <h2 class="interview-title">Enfoque organizacional</h2>
                <iframe src="https://www.youtube.com/embed/WRuy8UVjTA4" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="interview-container">
                <h2 class="interview-title">Enfoque social</h2>
                <iframe src="https://www.youtube.com/embed/nDCCv6Hwal4" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </main>
</body>

</html>