<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychology</title>
</head>

<body data-barba="wrapper">
    <header class="header">
        <div class="icon">P.</div>
        <nav class="menu">
            <a class="menu-link" id="home" href="index.html">Home</a>
            <a class="menu-link" id="psychology" href="psychology.html">Psicología</a>
            <a class="menu-link" id="history" href="history.html">Historia</a>
            <a class="menu-link" id="schools" href="schools.html">Escuelas</a>
            <a class="menu-link" id="interviews" href="interviews.html">Entrevistas</a>
        </nav>
    </header>
    <main data-barba="container" data-barba-namespace="psychology" class="main">
        <div class="transition"></div>
        <div class="pattern pattern-square"></div>
        <div class="pattern pattern-zigzag"></div>
        <h1 class="title">Psicología</h1>
        <a class="source"
            href="https://lucid.app/lucidchart/5145a709-e947-4f57-a7d5-a6dfc4f48eb3/view?invitationId=inv_ff24024c-b8d9-4a3b-b063-24c4b7982aff&page=0_0#"
            referrerpolicy="no-referrer" rel="noopener" target="_blank">Fuente&nbsp;→</a>

        <div class="map-container">
            <div id="root-svg"></div>
        </div>
    </main>
</body>

</html>