@use "sass:math";

/*=========================================================
================       CORE STYLES        =================
=========================================================*/

// -------------------------------
// FUNCTIONS
// -------------------------------

// Convert px to rem units
@function pxToRem($unit) {
  @return math.div($unit, 16) + rem;
}

// -------------------------------

// -------------------------------
// VARIABLES
// -------------------------------

// ------------
// BREAKPOINTS
// ------------

$breakpoints: (
  xsm: 400px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xlg: 1400px,
);

// ------------

// ------------
// COLORS
// ------------

// Primary
$red: #ff4b2b;
$facebookBg: hsl(210, 63%, 45%);

// Neutral
$success: #2ecc71;
$error: #e74c3c;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 67%);

// ------------

// ------------
// FONTS
// ------------

// Family
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$fontFamilyPoppins: "Poppins", sans-serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;
$fontFamilyJosefin: 'Josefin Sans', sans-serif;

// Size
$fontSizeNormal: 1rem;
$fontSizeMainHeadingSm: pxToRem(28);
$fontSizeMainHeadingLg: pxToRem(50);

// Weights
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// ------------

// -------------------------------

// -------------------------------
// MIXINS
// -------------------------------

// Media breakpoint min-width
@mixin media-breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Media breakpoint max-width
@mixin media-breakpoint-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// -------------------------------

// -------------------------------
// GLOBAL STYLES
// -------------------------------

body {
  font-family: $fontFamilyPoppins;
  height: 100vh;
}

a {
  text-decoration: none;
  font-family: $fontFamilyMontserrat;
  color: $gray;
  transition: color 300ms ease-in-out;

  &:active,
  &:hover {
    color: $black;
  }
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: $fontFamilyJosefin;
}
