/*=========================================================
================      LAYOUT STYLES       =================
=========================================================*/

html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: pxToRem(40);
    align-items: center;
  }
}

.main {
  position: relative;

  .source {
    position: absolute;
    top: pxToRem(100);
    left: pxToRem(350);
  }

  &[data-barba-namespace="interviews"] {
    overflow-y: scroll;
    overflow-x: hidden;

    .interviews-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &[data-barba-namespace="history"] {
    overflow-y: scroll;
    overflow-y: hidden;
  }

  &[data-barba-namespace="home"] {
    .background {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 3vw;
    }

    .quote {
      &-bg {
        position: absolute;
        bottom: 18vh;
        left: 0;
        z-index: -2;
      }

      &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text {
          position: relative;
        }
      }
    }
  }

  &[data-barba-namespace="schools"] {
    overflow-y: scroll;
    overflow-x: hidden;

    .characteristics {
      display: grid;
      gap: pxToRem(30);
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: stretch;
    }

    .feature {
      &-button {
        display: flex;
        align-items: center;
        gap: pxToRem(35);
      }
    }
  }
}

// Swal html
.specific-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: pxToRem(30);

  .author {
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
  }
}
